[Unit]
Description=Apache Kafka (KRaft)
Documentation=https://kafka.apache.org/documentation/
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/home/cruxsiem/kafka.sh start
ExecStop=/home/cruxsiem/kafka.sh stop
ExecReload=/home/cruxsiem/kafka.sh restart
PIDFile=/core/kafka/kafka.pid
Restart=on-failure
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=180

[Install]
WantedBy=default.target
