APP_NAME=CruxSIEM
DEBUG=true

OPENSEARCH_HOST=ns1.cruxdata.co.kr
OPENSEARCH_PORT=11723
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_USE_SSL=true
OPENSEARCH_VERIFY_CERTS=false

CORS_ORIGINS=["http://localhost:5173"]
