[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C=KR
ST=Seoul
L=Seoul
O=cruxsiem
CN=sentinel

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = sentinel
DNS.2 = opensearch
DNS.3 = pipeline
DNS.4 = webui
DNS.5 = localhost
IP.1  = 127.0.0.1
IP.2  = 172.16.4.74
IP.3  = 172.16.4.75
IP.4  = 172.16.4.76
